/* 폰트 적용 */
.card-container {
    font-family: 'Pretendard', sans-serif;
    text-align: left;
    padding: 10px;
  }
  
  .image-container {
    width: 100%;
    height: 300px;
    overflow: hidden;  /* 이미지가 컨테이너를 벗어나지 않도록 설정 */
    border-radius: 4px;  /* border-radius를 이미지 컨테이너에 적용 */
}

  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .card-image:hover {
    transform: scale(1.04); /* 이미지 크기를 5% 키움 */
}
  
  .card-button {
    width: 100%;
    padding: 8px 0;
    background-color: white;
    color: black;
    border: 1px solid #999999;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
  }
  
  .card-name {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .card-price-prev {
    text-decoration: line-through;
    color: #999999;
    font-size: 14px;
    margin: 5px 0;
  }
  
  .card-price-info {
    margin: 5px 0;
  }
  
  .card-price-salerate {
    color: #FA622F;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .card-price-main {
    color: #333;
    font-size: 16px;
    font-weight: bold;
  }
  