.event_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 150px;
}

.event_info {
    flex-shrink: 0; /* 텍스트 영역 크기 고정 */
}

.event_product {
    flex-shrink: 0; /* 상품 영역 크기 고정 */
}

.products-wrapper {
    display: flex;
    gap: 10px;  /* 제품 간 간격 */
    justify-content: center;  /* 가운데 정렬 */
    align-items: stretch; /* 높이를 동일하게 맞춤 */
  }

  .main_title {
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
  }
  .sub1 {
    color: #999999;
    font-size: 15px;
    margin-top: 5px;
  }

  .sub2 {
    color: #999999;
    font-size: 13px;
  }



