/* 폰트 적용 */
.lankingcard-container {
    font-family: 'Pretendard', sans-serif;
    text-align: left;
    padding: 10px;
    display: flex;
    gap: 10px;
    width: 250px;
    height: 170px;
  }
  
  .lankingcard-image {
    width: 120px; /* 이미지 크기 고정 */
    height: 100%; /* 이미지 크기 고정 */
    object-fit: cover;
    border-radius: 4px;
  }
  
  .lankingcard-button {
    width: 120px;
    padding: 8px 0;
    background-color: white;
    color: black;
    border: 1px solid #999999;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }


  .lankingcard_button {
    margin-top: auto;
  }

  .lankingcard_details {
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    justify-content: space-between; /* 위와 아래로 자식 요소 배치 */
    height: 100%;
  }

  .lankingcard_details h3 {
    margin-top: 0px;
    margin-bottom: 1px;
  }

  
  .lankingcard-name {
    font-size: 15px;
    font-weight: lighter;
    margin: 10px 0;
  }
  
  .lankingcard-price-prev {
    text-decoration: line-through;
    color: #999999;
    font-size: 14px;
    margin: 5px 0;
  }
  
  .lankingcard-price-info {
    margin: 5px 0;
  }
  
  .lankingcard-price-salerate {
    color: #FA622F;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .lankingcard-price-main {
    color: #333;
    font-size: 16px;
    font-weight: bold;
  }
  